doctype html
html(lang='en')
  head
    title= title
    //- Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    //- Bootstrap CSS
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css', integrity='sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk', crossorigin='anonymous')
    //- FontAwesome script
    script(src='https://kit.fontawesome.com/c05dc59e96.js', crossorigin='anonymous')

    //- project stylesheet
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    nav.navbar.navbar-expand-sm.navbar-light.bg-light.shadow-sm
      a.navbar-brand.fancy(href='/') Members Only App
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarContent.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          if user
            li.nav-item.dropdown
              a#dropdown.nav-link.dropdown-toggle.text-capitalize(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                | Welcome #{user.name}
              .dropdown-menu.dropdown-menu-right
                a.dropdown-item(href='/message/create') ADD MESSAGE
                a.dropdown-item(href='/logout') LOGOUT
          else
            li.nav-item.m-1
              a.btn.btn-outline-dark.btn-sm(href='/login') LOGIN
            li.nav-item.m-1
              a.btn.btn-dark.btn-sm(href='/signup') SIGN UP

    .container
      block content

    //- Optional JavaScript
    //- jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.5.1.slim.min.js', integrity='sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj', crossorigin='anonymous')
    script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js', integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js', integrity='sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI', crossorigin='anonymous')